*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto-Bold;
    font-size: 84px;
    color: #37474F;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}